
.login .card{
    background-color: transparent;
}



nav img{
    border-radius: 50%;
    height: 60%;
    width: 15%;
    margin-right: 10px;
}
li.nav-item {
    font-size: x-large;
    font-weight: 300;
}
nav ul a:hover{
    padding-top: 5px;
}

#profile-img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: auto;
}

.admin-title{
    text-decoration: underline;
}
.admin-count{
    font-size: 27px;
    color: black;
    font-style: oblique;
}
#profile-img{
    height: 150px;
    width: 165px;
    border-radius: 50%;
    margin: auto;
    margin-top: 5px;
}
.info-admin{
    position: relative;
    height: max-content;
    width: 200px;
}
.show-option a{
    font-size: large;
    font-style: italic;
    color: darkcyan;
    font-weight: lighter;
    text-decoration: none;
}
.show-option .active{
    color: red;
}
.alert{
    font-size: x-large;
}

.status-activate{
    background-color: red;
    color: white;
    font-size: medium;
    width: fit-content;
    right: -100px;
    position: relative;
    top: -20px;
}

.offre-rate{
    color: red;
    font-weight: 800;
    float: right;
}

.paye{
    color: green;
    font-size: inherit;
    font-weight: 500;
}
.reste{
    color: red;
    font-size: inherit;
    font-weight: 500;
}

.fiche{
    width: fit-content;
    font-size: larger;
    margin: auto;}

.cmt{
    font-size: 20px;
}

.cmt a{
    margin-left: 5px;
}

nav ul a:hover{
    padding-top: 5px;
}
.count-show{
    font-size: 50px;
    text-align: center;
}

#profile-img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: auto;
}

.admin-title{
    text-decoration: underline;
}
.admin-count{
    font-size: 27px;
    color: black;
    font-style: oblique;
}
#profile-img{
    height: 150px;
    width: 165px;
    border-radius: 50%;
    margin: auto;
    margin-top: 5px;
}
.info-admin{
    position: relative;
    height: max-content;
    width: 200px;
}
.show-option a{
    font-size: large;
    font-style: italic;
    color: darkcyan;
    font-weight: lighter;
    text-decoration: none;
}
.show-option .active{
    color: red;
}
.alert{
    font-size: x-large;
}

.status-activate{
    background-color: red;
    color: white;
    font-size: medium;
    width: fit-content;
    right: -100px;
    position: relative;
    top: -20px;
}

.paye{
    color: green;
    font-size: inherit;
    font-weight: 500;
}
.reste{
    color: red;
    font-size: inherit;
    font-weight: 500;
}

.fiche{
    width: fit-content;
    font-size: larger;
    margin: auto;}

.count span{
    font-size: 50px;
    text-align: center;
}
.in{
    background-color: green;
    text-align: center;
    font-size: 35px;
    color: white;
    border-radius: 50%;
    padding: 60px;
    border-radius: 50%;
    height: 210px;
    width: 240px;
    margin-left: auto;
}
.out{
    background-color: red;
    text-align: center;
    font-size: 35px;
    color: white;
    padding: 60px;
    border-radius: 50%;
    height: 210px;
    width: 240px;
}
.btn-info[data-target="#delet"] {
    position: absolute;
    top: -20px;
    left: 990px;
}
